.main.border-div {
    background-color: red;
    border-style:dotted ;
}

.main {
    background-color: aqua;
}

.border-div {
    border-style:solid !important;
}

.main  p {
    font-size: 35px;
}